.container {
  position: fixed;
  top: 0;
  align-content: center;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: black;
}
.container .formContainer {
  padding: 1em;
  background: black;
  color: blue;
}
