.topBar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  align-content: center;
  background: #8e2de2;
  color: #fff;
}
.topBar .profile {
  position: absolute;
  top: 15px;
  display: flex;
  gap: 10px;
  align-items: top;
  right: 5%;
}
.topBar .profile .info {
  position: relative;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
}
.menuContainer {
  position: fixed;
  right: 60px;
  top: 60px;
  z-index: 3;
  width: 100px;
  padding: 1em;
  background: #ffffff1f;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px #7a747838;
  text-align: center;
  border-radius: 5px;
}

.menuContainer button {
  width: 100%;
  border: none;
  background: transparent;
  border-top: 1px solid grey;
  color: red;
  padding: 0.5em;
  margin-top: 20px;
}
.menuContainer button:hover {
  color: darkred;
  cursor: pointer;
}

.topBar .profile .img {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}
.topBar .navigator {
  position: absolute;
  left: 25%;
  top: 15px;
  width: 50%;
  display: flex;
  gap: 5%;
  text-align: center;
}
.topBar .navigator nav {
  width: 100%;
  display: flex;
  gap: 5%;
  text-align: center;
}
.topBar .navigator nav .Link {
  width: max-content;
  margin-left: 5%;
  text-decoration: none;
  color: #fff;
}
.topBar .navigator nav .current {
  border-bottom: 2px solid snow;
  color: black;
}
.label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: larger;
  width: 60px;
  height: 100%;
}
.menu {
  display: none;
}
.label img {
  width: 100%;
  height: 100%;
}
.content {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  background: #ededed;
  overflow-x: hidden;
}
@media (max-width: 700px) {
  .leftBar {
    display: none;
  }
  .menu {
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 9;
    width: calc(100% - 10px);
    height: 50px;
    font-size: larger;
    display: flex;
    gap: 5px;
    z-index: 2;
    align-items: center;
  }
  .menu div {
    height: 80%;
    width: 20%;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  .menu div img {
    width: fill;
  }
  .menu div .userButton {
    width: 40%;
    height: 100%;
  }
  .menu .currentOnPhone {
    background: #8e2de2;
    color: #fff;
    border-radius: 20px;
  }
  .topBar .navigator {
    display: none;
  }
  .content {
    width: 100%;
    height: calc(100% - 105px);
    left: 0;
    top: 50px;
    z-index: 2;
    background: #fff;
  }
}
