.landingContainer {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(
    135deg,
    #0f0c29,
    #302b63,
    #8e2de2,
    #4a00e0,
    #00c9ff
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 12px;
}
.logo {
  height: 500px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.description {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.buttons button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.3s ease;
}
.btnPrimary {
  background: #00c9ff;
  color: #0f0c29;
  font-weight: bold;
  border: none;
}
.aboutBtn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}
.buttons button:hover {
  transform: scale(1.05);
}
